body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.navbar {
    width: 100vw;
    height: 20vh;
    /* background-color: whitesmoke; */
    position: relative;

}

/* 25% left and 25% right */

.navbar .nav-logo {
    left: 23%;
    /* width: 120px; */

    height: 100%;
    position: absolute;
}

.navbar .nav-logo img {
    position: absolute;
    height: 50%;
    padding-top: 50px;
}


.navbar .nav-title {
    font-family: 'Poppins', sans-serif;
    width: 250px;
    height: 50%;
    /* background-color: aqua; */
    position: absolute;
    left: 29%;
    padding-top: 30px;
}

.navbar .nav-title h1 {
    color: #233032;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.navbar .nav-title p {
    color: #2f86d6;
    font-weight: bold;
    margin-top: -25px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.navbar .nav-buttons {
    position: absolute;
    /* height: 100%; */
    /* background-color: tomato; */
    right: 23%;
    top: 37%;
}

.navbar .nav-buttons ul li {
    display: inline;
    padding-top: 20px;
    margin-left: 30px;
}

.navbar .nav-buttons ul li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 17px;
}

.banner {
    height: 80vh;
    width: 100vw;
    background-color: #2f86d6;
    position: relative;
    /* padding: 180px 0px; */

}

.banner .banner-content {
    box-sizing: border-box;
    position: absolute;
    /* background-color: tomato; */
    width: 1024px;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 16%;

}

.banner .banner-content .banner-info {
    height: 50%;
    position: absolute;
    width: 470px;
    /* background-color: #233032; */
    margin-top: 10%;
}

.banner .banner-content .banner-info p {
    color: #f6f6f6;
    /*  background-color: red; */
    font-size: 17px;
}

.banner .banner-content .banner-info h2 {
    color: #fff;
    font-size: 30px;
}

.banner .banner-content .banner-img {
    width: 50%;
    height: 100%;
    /*  background-color: red; */
    position: absolute;
    right: 0;
}

.first-ad {
    width: 100vw;
    height: 15vh;
    background-color: #233032;
    position: relative;
}

.first-ad .first-ad-container {
    width: 1024px;
    height: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    left: 0;
    right: 0;
    /* background-color: blue; */
    font-family: 'Poppins', sans-serif;
    color: #f6f6f6;
}

.first-ad .first-ad-container .first-ad-left {
    position: relative;
    top: 14px;
}

.first-ad .first-ad-container .first-ad-right {
    position: absolute;
    top: 36px;
    right: 0;
    background-color: #2f86d6;
    padding: 20px;
    border-radius: 5px;
}

.first-ad .first-ad-container .first-ad-right a {
    text-decoration: none;
    font-weight: bolder;
    color: #f6f6f6;
    font-size: 19px;
    margin-left: 5px;

}

.info {
    /* main */
    height: 65vh;
    width: 100vw;
   /*  background-color: tomato; */
    position: relative;
}

.info-box {
    width: 1024px;
    height: 100%;
    /* background-color: whitesmoke; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    box-sizing: border-box;
}

.info-box .info-sub {
    /*title */
    text-align: center;
    /* background-color: aquamarine; */
    width: 100%;
    height: 130px;
    position: absolute;
    margin-top: 100px;
    box-sizing: border-box;
}

.info-content-left img,
.info-content-right img,
.info-content-mid img {
    width: 30%;
}

.info-box .info-content-img .info-content-left {
    position: absolute;
    text-align: center;
    width: 33%;
    bottom: 100px;
    left: 0;
    box-sizing: border-box;
}

.info-box .info-content-img .info-content-mid {
    /* background-color: red; */
    width: 33%;
    position: absolute;
    text-align: center;
    left: 350px;
    bottom: 100px;
    box-sizing: border-box;
    }

.info-box .info-content-img .info-content-right {
    position: absolute;
    text-align: center;
    width: 33%;
    bottom: 100px;
    right: 0;
    box-sizing: border-box;
}